[submodule "lib/WireGuard"]
	path = lib/WireGuard
	url = https://github.com/Tinkerforge/WireGuard-ESP32-Arduino
	branch = main
[submodule "lib/ESPAsyncTCP"]
	path = lib/ESPAsyncTCP
	url = https://github.com/me-no-dev/ESPAsyncTCP
[submodule "lib/AsyncTCP"]
	path = lib/AsyncTCP
	url = https://github.com/dvarrel/AsyncTCP.git
